@media screen and (max-width: 767px) {

    //advantage//
    .first-block,
    .second-block {
        flex-direction: column;
        
    }

    //crypto-chins//

    .crypto-chins {
        .title {
            flex-wrap: wrap;
        }
        table {
            thead {
                th {
                    &.table-btn {
                        display: none;
                    }
                    p {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
            }
            tbody {
                td {
                    &.table-btn {
                        display: none;
                    }
                    p {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
}
