@media screen and (max-width: 1139px) {
    //tamplate//

    section {
        margin-bottom: 200px;
    }

    .btn {
        &.big {
            height: 89px;
        }
    }

    //header//
    header {
        .header-nav {
            display: none;
        }
        .header-button {
            padding: 15px 12px;
            background: #20251B;
            border: none;
            border-radius: 8px;
            cursor: pointer;

            .togler {
                position: relative;
                display: block;
                width: 20px;
                height: 2px;
                background-color: $accent-color;
            }

            .togler::before {
                content: "";
                position: absolute;
                bottom: 8px;
                left: 0;
                width: 20px;
                height: 2px;
                background-color: $accent-color;
            }
            .togler::after {
                content: "";
                position: absolute;
                left: 0;
                top: 8px;
                width: 20px;
                height: 2px;
                background-color: $accent-color;
            }
        }



    }



    //first-screen//

    .slider {
        .slider-item {
                
            .slider-item_info {
                max-width: 555px;
                .slider-item_info-title {
                    font-weight: 500;
                    font-size: 48px;
                    line-height: 60px;
                }
    
                .basis-subtitle {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 34px;
                }
    
                .slider-item_info-features {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;
                    
                    .features-block {
                        max-width: 263px;
                    }
                }
            }
        
            .slider-item-img {
                max-width: 500px;
            }
            .currency {
                max-width: 457px;

                .definition {
                    font-size: 18px;
                    line-height: 23px;
                }
    
                .exchange-rate {
                    justify-content: center;
                }
    
                .form-block_give,
                .form-block_getit {
                    padding: 16px 16px 16px 24px;
    
                    input[type="number"] {
                        font-size: 18px;
                        line-height: 23px;
                        margin-right: 20px;
    
                    }
    
                    .dropdown {
                        min-width: 200px;
                        position: relative;
                    }
    
    
                }
            }
        }
    
    
    }

    //advantages//

    .advantages-block {
        .advantages-block_card {
            max-width: 555px;
            padding: 30px 10px 30px 30px;
            
            .advantages-block_card-info {
                padding: 0 10px 0 0;
                .advantages-block_title {
                    font-size: 24px;
                    line-height: 32px;
                }
                .advantages-block_subtitle {
                    font-size: 18px;
                    line-height: 28px;
                }
            }

            .advantages-block_card-img {
                max-width: 234px;

                img {
                    width: 100%;
                }
            }
            
        }
    }

    //steps//

    .steps-block {
        &_card {
            padding: 40px;
            width: 360px;

            p {
                font-size: 18px;
                line-height: 30px;
            }
    
            h3 {
                font-size: 28px;
                line-height: 36px;
    
            }
        }
    }

    //crypto-chins//

    .crypto-chins {
        table {
            thead {
                th {
                    padding: 25px;
                }
            }
            tbody {
                
                td {
                    padding: 25px;
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        span {
                            margin-left: 9px;
                        }
                    }
                    img {
                        margin-right: 11px;
                    } 
                
                }
            }
        }
    }

    //profile//
    .profile {
        margin-top: 20px;
        aside {
            display: none;
        }
    
        .personal-info {
            margin: auto;
        }
    }
}
