.slider {
    position: relative;
    &::before {
        content: "";
    }

    &.bckgr-shiny::before {
        content: "";
        position: absolute;
        background: rgba(141, 243, 30, 0.6);
        filter: blur(250px);
        left: 847px;
        width: 622px;
        height: 660px;
        display: block;
    }

    
    &-item {
        display: flex !important;
        justify-content: space-between;
        padding-right: 2px;
    
        &_info {
            max-width: 705px;
            &-title {
                font-weight: 500;
                font-size: 58px;
                line-height: 70px;
                color: $titles-color;
                margin-bottom: 20px;
            }

            .basis-subtitle {
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                color: $sub-text;
                margin-bottom: 80px;
            }

            &-features {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 60px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                
                .features-block {
                    display: flex;
                    align-items: center;
                    max-width: 338px;
                    margin-bottom: 30px;

                    &:nth-child(odd) {
                        margin-right: 28px;
                    }

                    & img {
                        margin-right: 20px;
                    }
                }
            }

            &-top {
                display: flex;
                & a {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    color: $accent-color;
                    margin-right: 9px;
                    text-decoration: none;
                }
            }
        }
    
        &-img {
            max-width: 665px;
            border-radius: 20px;
            margin-bottom: 29px;
    
            & img {
                width: 100%;
            }
        }
        .currency {
            max-width: 540px;
            padding: 40px;
            border-radius: 20px;
            margin: 0 auto;
            z-index: 10;
            background-color: $background-color;

            .definition {
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                color: $sub-text;
                margin-bottom: 20px;
            }

            .getit {
                margin-top: 30px;
            }

            .exchange-rate {
                display: flex;
                margin: 12px 0 20px 0;
                font-weight: 400;
                font-size: 20px;
                line-height: 34px;
                color: $stroke-color;
            
                & div:last-child {
                    margin-left: 20px;
                    color: $accent-color;
                }
            }

            .form-block_give,
            .form-block_getit {
                display: flex;
                padding: 36px;
                background-color: $input-card-color;
                border: 1px solid #4F4F4F;
                border-radius: 12px;
                color: $titles-color;

                input[type="number"] {
                    margin-right: 60px;
                    padding: 16px;
                    background-color: $input-card-color;
                    color: $titles-color;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 30px;
                    border: none;
                    -moz-appearance: textfield;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &:focus-visible {
                        outline: none;
                    }

                }

                .dropdown {
                    min-width: 200px;
                    position: relative;
                    
                    .select {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 16px 20px;
                        background-color: $input-card-color;
                        border: 1px solid #4F4F4F;
                        border-radius: 8px;
                        cursor: pointer;
                        
                        a {
                            display: flex;
                            text-decoration: none;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 23px;
                            color: $titles-color;
                        }
                        img {
                            max-width: 24px;
                            margin-right: 8px;
                        }
                        .arrow {
                            max-width: 12px;
                        }
                        .arrow-rotate {
                            transform: rotate(180deg);
                        }
                    }

                    .menu {
                        position: absolute;
                        top: 73px;
                        width: 200px;
                        height: 200px;
                        padding: 15px 20px;
                        background-color: $input-card-color;
                        border: 1px solid #4F4F4F;
                        border-radius: 8px;
                        opacity: 0;
                        display: none;
                        z-index: 1;
                        overflow-y: auto; 
                        scroll-behavior: smooth;
                        scrollbar-color: $accent-color #242424;
                        scrollbar-width: thin;
                        
                        &.menu-open {
                            display: block;
                            opacity: 1;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: $accent-color;
                            border-radius: 2px; 
                            
                        }
                        
                        &::-webkit-scrollbar {
                            width: 3px;
                        }
                        & li {
                            padding: 16px;
                            border-bottom: 1px solid #242424;
                            
                            list-style-type: none;
                            & a {
                                display: flex;
                                text-decoration: none;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 23px;
                                color: $titles-color;
                            }
                            & img {
                                max-width: 24px;
                                margin-right: 8px;
                            }
                        }
                    }
    

                }


            }
        }
    }

    .slick-dots {
		display: flex;
		gap: 20px;
        justify-content: flex-end;

        li {
            background: $titles-color;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            transition: .5s;
            cursor: pointer;
        }

        li.slick-active {
            width: 160px;
            background: $accent-color;
            border-radius: 55px;

        }

        & button {
            color: transparent;
            background: transparent;
            border: none;

        }

	}

}