header{

	div {
		z-index: 10;
	}
	.header-container {
		max-width: 1920px;
		padding: 47px 20px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 41px;
	}

	ul li {
		list-style-type: none;
	}

	.header-logo {
		display: flex;
		align-items: center;

		
	}

	.header-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1;
	}

	.header-logo_list {

		&-link {
			position: relative;
			margin-left: 30px;

			&:last-child {
				margin-right: 0;
			}

			& > a {
				padding: 20px 0;
			}

			span {
				display:inline-block;
				width: 12px;
				height: 12px;
				margin-left: 8px;
				
			}

			&:hover {
				.header-logo_sublist {
					display: block;
				}
			}
		}
		
		&-link a {
			font-weight: 500;
			font-size: 18px;
			line-height: 23px;
			color: $body-text;
			text-decoration: none;

			&:hover {
				color: $accent-color;
			}
		}
		
	}

	.header-nav_list {
		display: flex;

		
		
		&-link {
			position: relative;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}

			& > a {
				padding: 20px 0;
			}

			span {
				display:inline-block;
				width: 12px;
				height: 12px;
				margin-left: 8px;
			}

			&:hover {
				.header-nav_sublist {
					display: block;
				}
			}
		}
		
		&-link a {
			font-weight: 500;
			font-size: 18px;
			line-height: 23px;
			color: $titles-color;
			text-decoration: none;

			&:hover {
				color: $accent-color;
			}
		}

	}

	.header-nav_sublist,
	.header-logo_sublist,
	.header-btn_sublist {
		position: absolute;
		padding: 25px 35px;
		border: 1px solid $stroke-color;
		border-radius: 8px;
		background-color: $background-color;
		white-space: nowrap;
		top: 35px;
		left: 0px;
		display: none;
		z-index: 1;

		.header-nav_list-sublink,
		.header-logo_list-sublink,
		.header-btn_list-sublink {
			margin-bottom: 21px;
			padding-bottom: 20px;
			border-bottom: 1px solid $stroke-color;

			&:last-child {
				border: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	.header-btn_block {
		display: flex;
		align-items: center;
		.header-btn_list {
	
			&-link {
				position: relative;
				margin-right: 30px;
		
				& > a {
					padding: 20px 0;
				}
		
				span {
					display:inline-block;
					width: 12px;
					height: 12px;
					margin-left: 8px;
				}
		
				&:hover {
					.header-btn_sublist {
						display: block;
					}
				}
			}
			
			&-link a {
				font-weight: 500;
				font-size: 18px;
				line-height: 23px;
				color: $body-text;
				text-decoration: none;
		
				&:hover {
					color: $accent-color;
				}
			}
	
			.header-btn_sublist {
				left: -30px;
			}
		}
	}

	.header-button {
		border: none;
	}

	.header-mobile_modal {
		
		position: fixed;
		margin: 0 auto;
		padding: 20px;
		right: 0;
		top: 0;
		min-height: 100vh;
		width: 100%;
		transition: .5s;
		transform: translateY(-100%);
		background-color: $background-color;
		overflow-y: auto;

		&.open {
			transform: translateY(0%);
		}

		.header-nav {
			display: flex;
			flex-direction: column;
			align-items: stretch;
			&_list li {
				margin-bottom: 32px;
			}
		}

		.modal-head {
			display: flex;
			justify-content: space-between;
			padding-bottom: 12px;
			margin-bottom: 32px;
			border-bottom: 1px solid #242424;
			
			&_right {
				display: flex;
				align-items: center;
			}
			.header-logo_sublist {
				left: -33px;
				background-color: $background-color;
			}
			.header-button {
				border: none;
				padding: 15px 12px;
				background: #20251B;
				border-radius: 8px;
				cursor: pointer;
		
				.togler {
					position: relative;
					background-color: rgba(255, 255, 255, 0);
				}
		
				.togler::before {
					content: "";
					position: absolute;
					bottom: 0px;
					left: 0;
					transform: rotate(45deg);
					width: 20px;
					height: 2px;
					background-color: $accent-color;
				}
				.togler::after {
					content: "";
					position: absolute;
					top: 0px;
					left: 0;
					transform: rotate(-45deg);
					width: 20px;
					height: 2px;
					background-color: $accent-color;
				}
		
			}
		}

		.modal-body {
			display: flex;
			flex-direction: column;
			.header-nav_list {
				display: flex;
				flex-direction: column;
				margin-bottom: 128px;
			}
		}


		

	}

	
}
