header{
	.header-container {
		max-width: 1920px;
		padding: 20px 50px;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	ul li {
		list-style-type: none;
	}

	.header-nav_list {
		display: flex;
		gap: 30px;
		

		// &-link {
		// 	position: relative;
		// }

		&-link a {
			font-weight: 500;
			font-size: 18px;
			line-height: 23px;
			color: $titles-color;
			text-decoration: none;

			&:hover {
				color: $accent-color;
			}
		}
	}

	.header-nav_sublist {
		position: absolute;
		padding: 25px 0 0 0;

		.header-nav_list-sublink {
			margin-bottom: 41px;
			position: relative;

			&::after {
				position: absolute;
				content: "";
				top: 65px;
				right: 0;
				width: 149px;
				height: 1px;
				background-color: $stroke-color;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

}