.profile {
    display: flex;
    margin-top: 160px;
    
}

.profile aside .title.left {
    margin-bottom: 60px;
}

aside {
    margin-top: -120px;
    margin-right: 150px;
    
    
    .sidebar-block {
        max-width: 338px;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: $titles-color;
        padding: 41px 40px;
        text-align: left;
        background: $input-card-color;
        border-radius: 10px;
        display: block;
        text-decoration: none;
        &:hover {
            color: $accent-color;
            background-color: $background-color;
        }
        &:focus {
            color: $background-color;
            background-color: $accent-color;
        }

    }
}
.personal-info {
    width: 950px;
    .profile-form {
        display: grid;
        gap: 30px;
        
        input {
            width: 100%;
            padding: 30px 54px 30px 30px ;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            color: $titles-color;
            background: $input-card-color;
            border: 1px solid $stroke-color;
            border-radius: 8px;
            
            &:focus-visible {
                outline: $accent-col-2 solid 1px;
                
                &::placeholder {
                    color: transparent;
                }
            }
            &::placeholder {
                transition: .5s;
            }
        
        }
        #telegram {
            margin-bottom: 60px;
        }
    }
}

//password//
.new-pwd,
.repeat-pwd {
    position: relative;
}
.show-pass {
    display: block;
    position: absolute;
    top: 31px;
    right: 30px;
    cursor: pointer;
}

.tips {
    display: flex;
    gap: 26px;
    padding: 14px 8px;
    & > div {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
    }
    .valid {
        color: $accent-color;
    }
    .novalid {
        color: $errors-color    ;
    }
    
    
}

//verification//

.label {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: $stroke-color;
    border-bottom: 1px solid $stroke-color;
}

.personal-info {
    .dropdown .menu {
    width: 100%;
    }
    .dropdown .select {
       padding: 30px ;
    }
    .menu.menu-open {
        top: 90px;
    }
}

.gender-radio {
    display: flex;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    margin-right: 50px;
    padding-top: 3px;
    padding-left: 43px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 27px;
    border: 1px solid #B1FF5C;
    border-radius: 100%;
    background: $input-card-color;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 11px;
    height: 11px;
    background: $accent-color;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
    

.uploadFile {
    overflow: hidden;
    resize: none;
    position: relative;
    width: 100%;
    padding: 60px 54px 60px 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #F7FFEE;
    background: #10100E;
    border: 1px dashed #4F4F4F;
    border-radius: 12px;
    text-align: center;

  
    [type="file"] {
      cursor: pointer !important;
      display: block;
      font-size: 999px;
      filter: alpha(opacity=0);
      min-height: 100%;
      min-width: 100%;
      opacity: 0;
      position: absolute;
      right: 0px;
      text-align: right;
      top: 0px;
      z-index: 1;
    }

    .filename {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: $titles-color;
    }
    
    #sendfile {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $stroke-color;
        span {
            color: $accent-color;
        }
    }
}
  
