.review {
    background: #A6FF46;
    border-radius: 50px;
    padding: 250px 0;
    &-slider {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-image: url(assets/img/quotes.png);
            width: 136px;
            height: 112px;
            left: 180px;
            top: -47px;
        }
    }
    .slider-content {
        margin: 0 auto;
        max-width: 955px;
        &_text {
            margin-bottom: 80px;
            font-weight: 400;
            font-size: 32px;
            line-height: 50px;
            color: $input-card-color;
        }
        
        &_name {
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            color: $input-card-color;
        }
    
        &_data {
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            color: $accent-col-2;
        }
    }

    

    .slick-arrow {
        font-size: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='16' viewBox='0 0 23 16' fill='none'%3E%3Cpath d='M23 8L3 8' stroke='%2342882A' stroke-width='2'/%3E%3Cpath d='M9 1L2 8L9 15' stroke='%2342882A' stroke-width='2'/%3E%3C/svg%3E");        
        width: 24px;
        background-repeat: no-repeat;
        background-position: center;
        width: 23px;
        border: 2px solid #42882A;
        position: absolute;
        background-color: transparent;
        padding: 35px;
        border-radius: 50px;
        right: 242px;
        z-index: 1;
        cursor: pointer;
    }

    button.slick-next.slick-arrow {
        bottom: 0px;
        transform: rotate(180deg);
    }
    
    button.slick-prev.slick-arrow {
        bottom: 0;
        right: 336px;
    }

}