.steps-block {
    display: flex;
    gap: 30px;
    &_card {
        padding: 50px;
        background: $accent-color;
        border-radius: 15px; 
        width: 480px;
        p {
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            color: $accent-col-2;
        }

        h3 {
            font-weight: 500;
            font-size: 36px;
            line-height: 34px;
            color: $input-card-color;

        }
    }
}