///colors///
$background-color: #080807;
$input-card-color: #10100E;
$stroke-color: #4F4F4F;
$body-text: #8A9385;
$titles-color: #F7FFEE;
$accent-color: #B1FF5C;
$accent-color-hover: #9AF03C;
$accent-col-2: #42882A;
$errors-color: #FF3D3D;
$status-btn-color: #FFB444;