<section class="advantages">
    <div class="container">
        <div class="title">
            <div class="basis-title">
                переваги роботи з Onebit
            </div>
            <div class="basis-subtitle">
                Лише декілька причин, чому слід обрати Onebit
            </div>
        </div>
        <div class="advantages-block">
            <div class="advantages-block_card">
                <div class="advantages-block_card-info">
                    <div class="advantages-block_title">індивідуальний підхід</div>
                    <div class="advantages-block_subtitle">Ми працюємо, піклуючись про кожного нашого клієнта</div>
                </div>
                <div class="advantages-block_card-img">
                    <img src="assets/img/advantage-img-1.png" alt="">
                </div>

            </div>
            <div class="advantages-block_card">
                <div class="advantages-block_card-info">
                    <div class="advantages-block_title">тех.підтримка клієнтів 24/7</div>
                    <div class="advantages-block_subtitle">Напряму задавайте цікаві вам питання у будь-який час</div>
                </div>
                <div class="advantages-block_card-img">
                    <img src="assets/img/advantage-img-2.png" alt="">
                </div>

            </div>
            <div class="advantages-block_card">
                <div class="advantages-block_card-info">
                    <div class="advantages-block_title">безпека операцій</div>
                    <div class="advantages-block_subtitle">Особисті дані клієнтів та історії операцій суворо конфіденційні</div>
                </div>
                <div class="advantages-block_card-img">
                    <img src="assets/img/advantage-img-3.png" alt="">
                </div>

            </div>
            <div class="advantages-block_card">
                <div class="advantages-block_card-info">
                    <div class="advantages-block_title">фіксований курс</div>
                    <div class="advantages-block_subtitle">Гарантована фіксація курсу після фінального підтвердження blockchain</div>
                </div>
                <div class="advantages-block_card-img">
                    <img src="assets/img/advantage-img-4.png" alt="">
                </div>

            </div>

        </div>
       

    </div>
</section>