<section class="banner">
    <div class="container">
        <div class="banner-block">
            <div class="banner-content">
                <div class="title">
                    <div class="basis-title">
                        обмін криптовалют разом з onebit
                    </div>
                    <div class="basis-subtitle">
                        <p>проводячи угоду з onebit, ви отримуєте найвигідніші умови обміну криптовалют</p>
                    </div>
                </div>
                <div class="banner-links">
                    <button class="btn btn-primary">
                        обміняти криптовалюту
                    </button>
                    <div class="banner-links-item">
                        <a href="#">топ крипто-фіатних пар</a> <img src="assets/img/right-arrow.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="banner-img">
                <img src="assets/img/service-banner-img.png" alt="">
            </div>
        </div>
    </div>

</section>