<section class="crypto-chins">
    <div class="container">
        <div class="title">
            <div class="basis-title">активні ринки для</div>
            <div class="dropdown">
                <div class="select">
                    <input type="hidden" value="bitcoin" name="currency_2">
                    <div class="selected">
                        <div><img src="assets/img/bitcoin-logo.png"> bitcoin </div>
                    </div>
                    <div class="arrow"><img src="assets/img/down-arrow.svg"></div>
                </div>
                <ul class="menu select-give-currency">
                    <li><div><img src="assets/img/bitcoin-logo.png"> bitcoin </div></li>
                    <li><div><img src="assets/img/ethereum-logo.png"> ethereum </div></li>
                    <li><div><img src="assets/img/litecoin-logo.png"> litecoin </div></li>
                    <li><div><img src="assets/img/ripple-logo.png"> ripple </div></li>
                    <li><div><img src="assets/img/monero-logo.png"> monero </div></li>
                    <li><div><img src="assets/img/dogecoin-logo.png"> dogecoin </div></li>
                </ul>
            </div>

        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th><p>назва</p></th>
                        <th class="bill"><p>купити</p></th>
                        <th class="bill"><p>продати</p></th>
                        <th class="price"><p>ціна</p></th>
                        <th><p>спред</p></th>
                        <th class="table-btn"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p><img src="assets/img/bitcoin-logo.png"> bitcoin <span>BTC</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="price">
                            <p>0.072625</p>
                        </td>
                        <td>
                            <p class="spred">+0,5%</p>
                        </td>
                        <td class="table-btn">
                            <button class="btn btn-secondary">торгувати</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><img src="assets/img/ethereum-logo.png">  ethereum <span>ETH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="price">
                            <p>0.072625</p>
                        </td>
                        <td>
                            <p class="spred">-0,5%</p>
                        </td>
                        <td class="table-btn">
                            <button class="btn btn-secondary">торгувати</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><img src="assets/img/litecoin-logo.png"> litecoin <span>LTC</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="price">
                            <p>0.072625</p>
                        </td>
                        <td>
                            <p class="spred">-0,2%</p>
                        </td>
                        <td class="table-btn">
                            <button class="btn btn-secondary">торгувати</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><img src="assets/img/ripple-logo.png">ripple <span>RPL</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="price">
                            <p>0.072625</p>
                        </td>
                        <td>
                            <p class="spred">-0,2%</p>
                        </td>
                        <td class="table-btn">
                            <button class="btn btn-secondary">торгувати</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><img src="assets/img/monero-logo.png">monero <span>MNR</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="price">
                            <p>0.072625</p>
                        </td>
                        <td>
                            <p class="spred">-2,55%</p>
                        </td>
                        <td class="table-btn">
                            <button class="btn btn-secondary">торгувати</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><img src="assets/img/dogecoin-logo.png">dogecoin <span>DOGE</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="price">
                            <p>0.072625</p>
                        </td>
                        <td>
                            <p class="spred">+1,71%</p>
                        </td>
                        <td class="table-btn">
                            <button class="btn btn-secondary">торгувати</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><img src="assets/img/dash-logo.png">dash <span>DASH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="price">
                            <p>0.072625</p>
                        </td>
                        <td>
                            <p class="spred">-0,5%</p>
                        </td>
                        <td class="table-btn">
                            <button class="btn btn-secondary">торгувати</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><img src="assets/img/zcash-logo.png">zcash <span>ZEC</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="price">
                            <p>0.072625</p>
                        </td>
                        <td>
                            <p class="spred">+0,93%</p>
                        </td>
                        <td class="table-btn">
                            <button class="btn btn-secondary">торгувати</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><img src="assets/img/tether-logo.png">tether <span>USDT</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="price">
                            <p>0.072625</p>
                        </td>
                        <td>
                            <p class="spred">+1,29%</p>
                        </td>
                        <td class="table-btn">
                            <button class="btn btn-secondary">торгувати</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><img src="assets/img/stellar-logo.png">stellar <span>XLM</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="price">
                            <p>0.072625</p>
                        </td>
                        <td>
                            <p class="spred">-1,47%</p>
                        </td>
                        <td class="table-btn">
                            <button class="btn btn-secondary">торгувати</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><img src="assets/img/tron-logo.png">tron <span>TRX</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="bill">
                            <p>736 150.008750 <span>UAH</span></p>
                        </td>
                        <td class="price">
                            <p>0.072625</p>
                        </td>
                        <td>
                            <p class="spred">+1,19%</p>
                        </td>
                        <td class="table-btn">
                            <button class="btn btn-secondary">торгувати</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>