<section>
    <div class="container">
        <div class="banner-block">
            <div class="banner-content">
                <div class="title">
                    <div class="basis-title">
                        помилка 404
                    </div>
                    <div class="basis-subtitle">
                        <p>Щось пішло не так! Перевірте з’єднання з інтернетом</p>
                    </div>
                </div>
                <div class="banner-links">
                    <button class="btn btn-primary">
                        оновити сторінку
                    </button>
                    
                </div>
            </div>
            <div class="banner-img">
                <img src="assets/img/error.png" alt="">
            </div>
        </div>
    </div>

</section>