<section class="faq">
    <div class="container">
        <div class="title">
            <div class="basis-title">
                найчастіші питання
            </div>
            <div class="basis-subtitle">
                <p>Ми подбали про ваш час – зібрали найпопулярніші та відповіді на них</p>
            </div>
        </div>
        <div class="acordion">
            <div class="acordion-item">
                <div class="acordion-title">
                    <h5>Що таке KYC і для чого він потрібен?</h5>
                    <button class="accord-btn"></button>
                </div>
                <div class="acordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis vel voluptatibus cum voluptates unde quibusdam animi in laudantium alias.</div>
            </div>
            <div class="acordion-item">
                <div class="acordion-title">
                    <h5>Чи обов’язково проходити реєстрацію для того, щоб здійснити операцію на сайті?</h5>
                    <button class="accord-btn"></button>
                </div>
                <div class="acordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis vel voluptatibus cum voluptates unde quibusdam animi in laudantium alias.</div>
            </div>
            <div class="acordion-item">
                <div class="acordion-title">
                    <h5>Що потрібно для проходження верифікації?</h5>
                    <button class="accord-btn"></button>
                </div>
                <div class="acordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis vel voluptatibus cum voluptates unde quibusdam animi in laudantium alias.</div>
            </div>
            <div class="acordion-item">
                <div class="acordion-title">
                    <h5>Чи безпечно завантажувати документи? </h5>
                    <button class="accord-btn"></button>
                </div>
                <div class="acordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis vel voluptatibus cum voluptates unde quibusdam animi in laudantium alias.</div>
            </div>
            <div class="acordion-item">
                <div class="acordion-title">
                    <h5>Як працює реферальна програма onebit? Які бонуси ви можете отримати?</h5>
                    <button class="accord-btn"></button>
                </div>
                <div class="acordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis vel voluptatibus cum voluptates unde quibusdam animi in laudantium alias.</div>
            </div>
            <div class="acordion-item">
                <div class="acordion-title">
                    <h5>Що таке onebit-коїни, і для чого вони?</h5>
                    <button class="accord-btn"></button>
                </div>
                <div class="acordion-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis vel voluptatibus cum voluptates unde quibusdam animi in laudantium alias.</div>
            </div>

        </div>
    </div>
</section>
