<section class="findus">
    <div class="container">
        <div class="title">
            <div class="sm-title">
                де нас можна знайти
            </div>
            <div class="subtitle">
                <a href="#">дивитись усі міста</a>
            </div>
        </div>
        <div class="cityes">
            <div class="city cityes-kyiv">
                <h5>Київ</h5>
                <div class="city-img"></div>

            </div>
            <div class="city cityes-kharkiv">
                <h5>Харків </h5>
                <div class="city-img"></div>
            </div>
            <div class="city cityes-lviv">
                <h5>Львів</h5>
                <div class="city-img"></div>

            </div>
            <div class="city cityes-odesa">
                <h5>Одеса</h5>
                <div class="city-img"></div>

            </div>

        </div>
        <div class="subtitle on-mobile">
            <a href="#">дивитись усі міста</a>
        </div>
       
    </div>

</section>