<div class="container">
    <div class="slider">
        <div class="slider-item crypto-transaction">
            <div class="slider-item_info">
                <div class="slider-item_info-title">обмін криптовалют разом з onebit</div>
                <div class="slider-item_info-subtitle basis-subtitle">проводячи угоду з onebit, ви отримуєте найвигідніші умови обміну криптовалют</div>
                <div class="slider-item_info-features">
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        фіксація курсу після фінального підтвердження blockchain
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        цілодобова робота. видача готівки з 9:00 до 19:00
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        гарантована безпека всіх операцій
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        мінімальна комісія $15
                    </div>
                </div>
                <div class="slider-item_info-top">
                    <a href="#">топ крипто-фіатних пар</a> <img src="assets/img/right-arrow.svg" alt="">
                </div>
            </div>
            <div class="slider-item-img">
                <img src="assets/img/slider-img-1.png" alt="">
            </div>
        </div>
        <div class="slider-item transaction-ukraine">
            <div class="slider-item_info">
                <div class="slider-item_info-title">грошові перекази по Україні разом з onebit</div>
                <div class="slider-item_info-subtitle basis-subtitle">проводячи угоду з onebit, ви отримуєте найвигідніші умови переказу коштів</div>
                <div class="slider-item_info-features">
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        фіксація комісії після занесення до нашого відділення
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        гарантована безпека всіх операцій
                    </div>
                </div>
                <button class="btn btn-primary">створити заявку</button>
            </div>
            <div class="slider-item-img">
                <img src="assets/img/slider-img-1.png" alt="">
            </div>
        </div>
        <div class="slider-item world-transaction">
            <div class="slider-item_info">
                <div class="slider-item_info-title">міжнародні перекази разом з onebit</div>
                <div class="slider-item_info-subtitle basis-subtitle">проводячи угоду з onebit, ви отримуєте найвигідніші умови переказу коштів</div>
                <div class="slider-item_info-features">
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        фіксація курсу після фінального підтвердження blockchain
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        цілодобова робота. видача готівки з 9:00 до 19:00
                    </div>
                </div>
                <button class="btn btn-primary">створити заявку</button>
            </div>
            <div class="slider-item-img">
                <img src="assets/img/slider-img-2.png" alt="">
            </div>
        </div>
        <div class="slider-item swift">
            <div class="slider-item_info">
                <div class="slider-item_info-title">SWIFT/SEPA $/€ платежі разом з onebit</div>
                <div class="slider-item_info-subtitle basis-subtitle">проводячи угоду з onebit, ви отримуєте найвигідніші умови переказу коштів</div>
                <div class="slider-item_info-features">
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        фіксація курсу після фінального підтвердження blockchain
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        цілодобова робота. видача готівки з 9:00 до 19:00
                    </div>
                </div>
                <button class="btn btn-primary">створити заявку</button>
            </div>
            <div class="slider-item-img">
                <img src="assets/img/slider-img-3.png" alt="">
            </div>
        </div>
        <div class="slider-item yuan-china">
            <div class="slider-item_info">
                <div class="slider-item_info-title">оплата рахунків у Китай разом з onebit</div>
                <div class="slider-item_info-subtitle basis-subtitle">проводячи угоду з onebit, ви отримуєте найвигідніші умови переказу коштів</div>
                <div class="slider-item_info-features">
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        фіксація курсу після фінального підтвердження blockchain
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        цілодобова робота. видача готівки з 9:00 до 19:00
                    </div>
                </div>
                <button class="btn btn-primary">створити заявку</button>
            </div>
            <div class="slider-item-img">
                <img src="assets/img/slider-img-4.png" alt="">
            </div>
        </div>
    </div>

</div>