<div class="container">
    <div class="slider">
        <div class="slider-item crypto-transaction">
            <div class="slider-item_info">
                <div class="slider-item_info-title">обмін криптовалют разом з onebit</div>
                <div class="slider-item_info-subtitle basis-subtitle">проводячи угоду з onebit, ви отримуєте найвигідніші умови обміну криптовалют</div>
                <div class="slider-item_info-features">
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        фіксація курсу після фінального підтвердження blockchain
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        цілодобова робота. видача готівки з 9:00 до 19:00
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        гарантована безпека всіх операцій
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        мінімальна комісія $15
                    </div>
                </div>
                <div class="slider-item_info-top">
                    <a href="#">топ крипто-фіатних пар</a> <img src="assets/img/right-arrow.svg" alt="">
                </div>
            </div>
            <div class="slider-item-img">
                <form class="currency">
                    
                    <div class="form-block_give ">
                        <input type="number" id="input-give" min="1" max="1000" placeholder="1000">
                        <div class="dropdown">
                            <div class="select">
                                <div class="selected">
                                    <a href="#"><img src="assets/img/bitcoin-logo.png"> bitcoin </a>
                                </div>
                                <div class="arrow"><img src="assets/img/down-arrow.svg"></div>
                            </div>
                            <ul class="menu select-give-currency">
                                <li><a href="#"><img src="assets/img/bitcoin-logo.png"> bitcoin </a></li>
                                <li><a href="#"><img src="assets/img/ethereum-logo.png"> ethereum </a></li>
                                <li><a href="#"><img src="assets/img/litecoin-logo.png"> litecoin </a></li>
                                <li><a href="#"><img src="assets/img/ripple-logo.png"> ripple </a></li>
                                <li><a href="#"><img src="assets/img/monero-logo.png"> monero </a></li>
                                <li><a href="#"><img src="assets/img/dogecoin-logo.png"> dogecoin </a></li>
                            </ul>
                        </div>
                        
                    </div>
                    
                    <div class="form-block_getit">
                        <input type="number" id="input-getit" min="1" max="1000" placeholder="1000">
                        <div class="dropdown">
                            <div class="select">
                                <div class="selected">
                                    <a href="#"><img src="assets/img/usd-icon.png"> USD</a>
                                </div>
                                <div class="arrow"><img src="assets/img/down-arrow.svg"></div>
                            </div>
                            <ul class="menu select-getit-currency">
                                <li> <a href="#"><img src="assets/img/usd-icon.png"> USD</a></li>
                                <li> <a href="#"><img src="assets/img/eur-icon.png"> EUR</a></li>
                                <li> <a href="#"><img src="assets/img/uah-icon.png"> UAH</a></li>
                                <li> <a href="#"><img src="assets/img/pln-icon.png"> PLN</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-primary">відправити заявку</button>
                </form>
            </div>
        </div>
        <div class="slider-item transaction-ukraine">
            <div class="slider-item_info">
                <div class="slider-item_info-title">грошові перекази по Україні разом з onebit</div>
                <div class="slider-item_info-subtitle basis-subtitle">проводячи угоду з onebit, ви отримуєте найвигідніші умови переказу коштів</div>
                <div class="slider-item_info-features">
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        фіксація комісії після занесення до нашого відділення
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        гарантована безпека всіх операцій
                    </div>
                </div>
                <button class="btn btn-primary">створити заявку</button>
            </div>
            <div class="slider-item-img">
                <img src="assets/img/slider-img-1.png" alt="">
            </div>
        </div>
        <div class="slider-item world-transaction">
            <div class="slider-item_info">
                <div class="slider-item_info-title">міжнародні перекази разом з onebit</div>
                <div class="slider-item_info-subtitle basis-subtitle">проводячи угоду з onebit, ви отримуєте найвигідніші умови переказу коштів</div>
                <div class="slider-item_info-features">
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        фіксація курсу після фінального підтвердження blockchain
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        цілодобова робота. видача готівки з 9:00 до 19:00
                    </div>
                </div>
                <button class="btn btn-primary">створити заявку</button>
            </div>
            <div class="slider-item-img">
                <img src="assets/img/slider-img-2.png" alt="">
            </div>
        </div>
        <div class="slider-item swift">
            <div class="slider-item_info">
                <div class="slider-item_info-title">SWIFT/SEPA $/€ платежі разом з onebit</div>
                <div class="slider-item_info-subtitle basis-subtitle">проводячи угоду з onebit, ви отримуєте найвигідніші умови переказу коштів</div>
                <div class="slider-item_info-features">
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        фіксація курсу після фінального підтвердження blockchain
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        цілодобова робота. видача готівки з 9:00 до 19:00
                    </div>
                </div>
                <button class="btn btn-primary">створити заявку</button>
            </div>
            <div class="slider-item-img">
                <img src="assets/img/slider-img-3.png" alt="">
            </div>
        </div>
        <div class="slider-item yuan-china">
            <div class="slider-item_info">
                <div class="slider-item_info-title">оплата рахунків у Китай разом з onebit</div>
                <div class="slider-item_info-subtitle basis-subtitle">проводячи угоду з onebit, ви отримуєте найвигідніші умови переказу коштів</div>
                <div class="slider-item_info-features">
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        фіксація курсу після фінального підтвердження blockchain
                    </div>
                    <div class="features-block">
                        <img src="assets/img/check-icon.png" alt="">
                        цілодобова робота. видача готівки з 9:00 до 19:00
                    </div>
                </div>
                <button class="btn btn-primary">створити заявку</button>
            </div>
            <div class="slider-item-img">
                <img src="assets/img/slider-img-4.png" alt="">
            </div>
        </div>
    </div>

</div>