<footer>
	<div class="container">
		<div class="footer-body">
			<div class="footer-body_logo">
				<a href="index.html"><img src="assets/img/header-logo.png" alt=""></a>
				<div class="social-media">
					<div>
						<a href="instagram.com"><img src="../assets/img/instagr-icon.png" alt=""></a>
					</div>
					<div>
						<a href="instagram.com"><img src="../assets/img/youtube-icon.png" alt=""></a>
					</div>
					<div>
						<a href="instagram.com"><img src="../assets/img/telegram-icon.png" alt=""></a>
					</div>
				</div>
			</div>
			<div class="footer-body_services">
				<div class="footer-titles">послуги</div>
				<ul class="footer-menu">
					<li><a href="#">перекази по Україні</a></li>
					<li><a href="#">міжнародні перекази</a></li>
					<li><a href="#">swift перекази</a></li>
					<li><a href="#">криптоперекази</a></li>
					<li><a href="#">перекази юаня у Китай</a></li>
				</ul>
			</div>
			<div class="footer-body_clients">
				<div class="footer-titles">клієнтам</div>
				<ul class="footer-menu">
					<li><a href="#">як це працює</a></li>
					<li><a href="#">крипто-фіатні пари</a></li>
					<li><a href="#">де нас знайти</a></li>
					<li><a href="#">відгуки</a></li>
					<li><a href="#">часті питання</a></li>
					<li><a href="#">блог</a></li>
				</ul>
			</div>
			<div class="footer-body_contact">
				<div class="footer-titles">контакти</div>
				<ul>
					<li><a href="mailto:info@crypto-money24.com"><img src="assets/img/mail-icon.png">info@crypto-money24.com</a></li>
					<li><a href="tel:098-358-00-01"><img src="assets/img/phone-icon.png">+38 (098) 358-00-01</a></li>
					<li><a href="tel:050-974-00-01"><img src="assets/img/phone-icon.png">+38 (050) 974-00-01</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-botom_text">
			<div>ⓒ 2022. Всі права захищені</div>
			<div class="privacy">
				<div><a href="#">політика конфіденційності</a></div>
				<div><a href="#">умови та положення </a></div>
			</div>
		</div>

	</div>
</footer>
<script src="assets/js/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>