<header>
    <div class="header-container">
        <div class="header-logo">
            <a href="index.html"><img src="../assets/img/header-logo.png" alt=""></a>
            
            <ul class="header-logo_list">
                <li class="header-logo_list-link">
                    <a href="#">Україна</a>
                    <span><img src="assets/img/down-arrow.svg"></span>
                    <ul class="header-logo_sublist">
                        <li class="header-logo_list-sublink"><a href="">Польща</a></li>
                        <li class="header-logo_list-sublink"><a href="">Чехія</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-nav">
            <ul class="header-nav_list">
                <li class="header-nav_list-link">
                    <a href="#">послуги</a>
                    <span><img src="assets/img/down-arrow.svg"></span>
                    <ul class="header-nav_sublist">
                        <li class="header-nav_list-sublink"><a href="#">перекази по Україні</a></li>
                        <li class="header-nav_list-sublink"><a href="#">міжнародні перекази</a></li>
                        <li class="header-nav_list-sublink"><a href="#">swift-перекази</a></li>
                        <li class="header-nav_list-sublink"><a href="#">обмін криптовалюти</a></li>
                        <li class="header-nav_list-sublink"><a href="#">переказ юаня у Китай</a></li>
                    </ul>
                </li>
                <li class="header-nav_list-link">
                    <a href="#">як це працює</a>
                </li>
                <li class="header-nav_list-link">
                    <a href="#">де нас знайти</a>
                </li>
                <li class="header-nav_list-link">
                    <a href="#">клієнтам</a>
                    <span><img src="assets/img/down-arrow.svg"></span>
                    <ul class="header-nav_sublist">
                        <li class="header-nav_list-sublink"><a href="#">відгуки</a></li>
                        <li class="header-nav_list-sublink"><a href="#">часті питання</a></li>
                        <li class="header-nav_list-sublink"><a href="#">блог</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-btn_block">
            <ul class="header-btn_list">
                <li class="header-btn_list-link">
                    <a href="#">ua</a>
                    <ul class="header-btn_sublist">
                        <li class="header-btn_list-sublink"><a href="">pl</a></li>
                        <li class="header-btn_list-sublink"><a href="">en</a></li>
                    </ul>
                </li>
            </ul>
            <button class="btn btn-secondary">реєстрація</button>
        </div>
    </div>
</header>

