<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#188de7">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>Сборка Markup</title>
    <link rel="stylesheet" href="assets/fonts/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/zebra_datepicker.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
