<section>
    <div class="container">
        <div class="profile">
            <aside>
                <div class="title left">
                    <div class="basis-title">профіль</div>
                </div>
                <div  class="sidebar">
                    <a class="sidebar-block" href="profile.html">особиста інформація</a>
                    <a class="sidebar-block" href="pasword-change.html">пароль</a>
                    <a class="sidebar-block" href="#">історія операцій</a>
                    <a class="sidebar-block" href="#">верифікація</a>
                    <a class="sidebar-block" href="#">реферальна програма <span>soon</span></a>
                </div>
            </aside>
    
            <div class="personal-info">
                <div class="title-profile">
                    <h5>зміна паролю</h5>
                    <p>Для зміни вашого поточного паролю заповніть поля знизу </p>
                </div>
                <form class="profile-form">
                    <div class="new-pwd">
                        <input type="password" id="new-pwd" name="new-pwd" placeholder="новий пароль">
                        <img class="show-pass open-eye" src="assets/img/eye-icon.png" alt="">
                        <div class="tips">
                            <div class="min-width">8+ символів</div>
                            <div class="lower">рядкова</div>
                            <div class="upper">велика</div>
                            <div class="numeric">цифра</div>
                            <div class="special">спец.символ</div>
                        </div>
                    </div>
                    <div class="repeat-pwd">
                        <input type="password" id="repeat-pwd" name="repeat-pwd" placeholder="повторіть пароль">
                        <img class="show-pass" src="assets/img/eye-icon.png" alt="">
                    </div>
                    <button class="btn btn-primary">зберегти</button>
                </form>
    
            </div>
        </div>
    </div>

</section>