<section>
    <div class="container">
        <div class="profile">
            @@include('profile-aside.html', {
                "page": "profile"
            })
            <div class="personal-info">
                <div class="title-profile">
                    <h5>особиста інформація</h5>
                    <p>Для повної зручності користування платформою Оnebit радимо заповнити особисту інформацію </p>
                </div>
                <form class="profile-form">
                    <input type="text" name="name" id="name" placeholder="ім'я">
                    <input type="text" name="last-name" id="last-name" placeholder="прізвище">
                    <input type="text" name="patronymic" id="patronymic" placeholder="по батькові">
                    <input type="tel" name="tel" id="tel" placeholder="телефон">
                    <input type="email" name="email" id="email" placeholder="email">
                    <input type="text" name="telegram" id="telegram" placeholder="telegram">
                    <button class="btn btn-primary">зберегти</button>
                </form>
    
            </div>
        </div>
    </div>

</section>