<section>
    <div class="container">
        <div class="profile">
            <aside>
                <div class="title left">
                    <div class="basis-title">профіль</div>
                </div>
                <div  class="sidebar">
                    <a class="sidebar-block" href="profile.html">особиста інформація</a>
                    <a class="sidebar-block" href="profile-password.html">пароль</a>
                    <a class="sidebar-block" href="#">історія операцій</a>
                    <a class="sidebar-block" href="#">верифікація</a>
                    <a class="sidebar-block" href="#">реферальна програма <span>soon</span></a>
                </div>
            </aside>
    
            <div class="personal-info">
                <div class="title-profile">
                    <h5>особиста інформація</h5>
                    <p>Для повної зручності користування платформою Оnebit радимо </p>
                    <p>заповнити особисту інформацію</p>
                </div>
                <form class="profile-form">
                    <input type="text" name="name" id="name" placeholder="ім'я">
                    <input type="text" name="last-name" id="last-name" placeholder="прізвище">
                    <input type="text" name="patronymic" id="patronymic" placeholder="по батькові">
                    <input type="tel" name="tel" id="tel" placeholder="телефон">
                    <input type="email" name="email" id="email" placeholder="email">
                    <input type="text" name="telegram" id="telegram" placeholder="telegram">
                    <button class="btn btn-primary">зберегти</button>
                </form>
    
            </div>
        </div>
    </div>

</section>