<section class="questions">
    <div class="container">
        <div class="title">
            <div class="basis-title">
                залишились питання?
            </div>
            <div class="basis-subtitle">
                <p>Залишились питання або хочете дізнатися більше, </p>
                <p>виберіть зручний спосіб для зв'язку</p>
            </div>
            <div class="social-media">
                <div>
                    <a href="instagram.com"><img src="assets/img/instagr-icon.png" alt=""></a>
                </div>
                <div>
                    <a href="instagram.com"><img src="assets/img/youtube-icon.png" alt=""></a>
                </div>
                <div>
                    <a href="instagram.com"><img src="assets/img/telegram-icon.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>