<section>
    <div class="container">
        <div class="profile">
            @@include('profile-aside.html', {
                "page": "referal"
            })
            <div class="personal-info">
                <div class="title-profile">
                    <h5>реферальна програма</h5>
                    <p>Отримайте Onebit коїни – це активи, якими можна торгувати один за одного на біржі. Вони дозволяють порівнювати витрати між різними криптовалютами.
                        Ці пари допомагають проілюструвати відносну цінність монет. </p>
                </div>
                <div class="referal-card">
                    <img src="assets/img/referal-card.png" alt="">
                </div>
    
            </div>
        </div>
    </div>

</section>