<section class="review">
    <div class="container">
        <div class="review-slider">
            <div class="review-slider_item">
                <div class="slider-content">
                    <p class="slider-content_text">У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я</p>
                    <p class="slider-content_name">Дмитро Науменко</p>
                    <p class="slider-content_data">29 листопада 2022</p>
                </div>
            </div>
            <div class="review-slider_item">
                <div class="slider-content">
                    <p class="slider-content_text">У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я</p>
                    <p class="slider-content_name">Дмитро Науменко</p>
                    <p class="slider-content_data">29 листопада 2022</p>
                </div>
            </div>
            <div class="review-slider_item">
                <div class="slider-content">
                    <p class="slider-content_text">У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я</p>
                    <p class="slider-content_name">Дмитро Науменко</p>
                    <p class="slider-content_data">29 листопада 2022</p>
                </div>
            </div>
            <div class="review-slider_item">
                <div class="slider-content">
                    <p class="slider-content_text">У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я</p>
                    <p class="slider-content_name">Дмитро Науменко</p>
                    <p class="slider-content_data">29 листопада 2022</p>
                </div>
            </div>
            

        </div>
    </div>
</section>