<section class="steps">
    <div class="container">
        <div class="title">
            <div class="basis-title">
                3 простих кроки почати
            </div>
            <div class="basis-subtitle">
                <p>Не знаеш з чого почати?</p>
                <p>Слідуй цим простим крокам для швидкого старту</p>
            </div>
        </div>
        <div class="steps-block">
            <div class="steps-block_card">
                <div>
                    <p class="up-subtitle">крок 1</p>
                    <h3>реєстрація</h3>
                    <p>зареєструйся, щоб отримати можливість приєднатися до бонусної системи та отримати додаткові можливості</p>
                </div>
                <div class="steps-push_link">
                    <a href="">зареєструватися</a> 
                    <img src="assets/img/black-right-arrow.png" alt="">
                </div>
            </div>
            <div class="steps-block_card">
                <div>
                    <p class="up-subtitle">крок 2</p>
                    <h3>верифікація</h3>
                    <p>пройдіть верифікацію особи та отримайте можливість здійснювати обмін фіатних валют</p>
                </div>
                <div class="steps-push_link">
                    <a href="">пройти верифікацію</a> 
                    <img src="assets/img/black-right-arrow.png" alt="">
                </div>
            </div>
            <div class="steps-block_card">
                <div>
                    <p class="up-subtitle">крок 3</p>
                    <h3>торгівля</h3>
                    <p>користуйтеся найвигіднішим курсом для обміну валют</p>
                </div>
                <div class="steps-push_link">
                    <a href="">обміняти криптовалюту</a> 
                    <img src="assets/img/black-right-arrow.png" alt="">
                </div>
                
            </div>
        </div>
    </div>

</section>