<section >
    <div class="container">
        <div class="terms-privat_police">
            <a class="back-icon" href="home.html"></a>
            <div>
                <h1>умови та положення</h1>
                <p>Lorem ipsum dolor sit amet. Ea reprehenderit dicta est optio perferendis non enim dignissimos et eius illo. Sit fuga molestias ea neque possimus id voluptatem placeat sit dolor ipsa et officiis omnis non eligendi fugiat et architecto molestiae. Et odit recusandae eos provident maiores ab velit libero et sequi ullam in obcaecati odit. Aut aliquid odit quo officiis excepturi quo numquam fugit in mollitia harum.</p>
            </div>
            <div>
                <h2>sit reiciendis consequatur aut distinctio commodi qui tempore modi</h2>
                <p>In consectetur galisum et molestias laudantium et dolores dolores aut fugiat blanditiis. Sit assumenda similique ea quia accusamus est eius perspiciatis in deserunt rerum et totam deserunt. Ab expedita architecto et voluptatem voluptas et consequatur debitis sed voluptas error sed rerum mollitia.</p>
            </div>
            <div>
                <h3>id veritatis omnis qui unde dolorem.</h3>
                <p>Eos impedit quia hic harum velit sed commodi eius. Est dolore esse in distinctio galisum sed placeat repudiandae est ullam unde. Qui tempora voluptas in numquam dolores non expedita dignissimos rem ratione deleniti eum inventore enim 33 debitis illum! Ad facere minima ut accusamus dolores aut eius atque qui voluptate quam qui officia similique in necessitatibus consequatur est laboriosam sint. Est quasi adipisci et numquam sunt ut ipsam expedita. Qui dolorem temporibus et quis odit ad voluptatem assumenda sed nisi amet aut reprehenderit officiis. Est veritatis accusantium et modi molestiae 33 dolores enim.</p>
            </div>
            <div>
                <h6>1. aut molestiae perferendis qui magni consequuntur?</h6>
                <p>Eos impedit quia hic harum velit sed commodi eius. Est dolore esse in distinctio galisum sed placeat repudiandae est ullam unde. Qui tempora voluptas in numquam dolores non expedita dignissimos rem ratione deleniti eum inventore enim 33 debitis illum!</p>
                <h6>2. vel debitis mollitia hic exercitationem blanditiis</h6>
                <p>Et illum autem sit fugit aliquid aut molestias expedita! Hic temporibus architecto ut suscipit labore et soluta exercitationem qui quas voluptatem. Est odit velit non magni omnis et provident ipsum.</p>
                <h6>3. ut voluptates adipisci et galisum culpa et quos autem ea animi</h6>
                <p>Est adipisci autem sed excepturi aliquid est illum dolor eum quae voluptatem in excepturi ipsam? Et perferendis Quis et dolores architecto est rerum animi? Sed voluptas cupiditate et illo quia sit quia consequatur eos expedita unde. Cum sapiente delectus At placeat voluptatem ut magni quia eum quas possimus qui pariatur veritatis et maxime fugit cum praesentium sequi.</p>
            
                </ol>
            </div>
        </div>

        </div>
</section>