<section class="testimonials-review">
    <div class="container">
        <div class="title">
            <div class="basis-title">
                дивись, що кажуть <br> наші клієнти
            </div>
        </div>
        <div class="testimonials-review_cards">
            <div class="review_cards-block">
                <div class="review-person_name">
                    Антон Константинов
                </div>
                <div class="review-person_text ">
                    У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я. Потім ще дивився в інших обмінниках курси того дня – тут все ж таки був вигідніше. Так що ні про що не шкодую, і якщо буде потрібно, звертатимуся знову. 
                    У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я. Потім ще дивився в інших обмінниках курси того дня – тут все ж таки був вигідніше. Так що ні про що не шкодую, і якщо буде потрібно, звертатимуся знову. 
                </div>
                <div class="review-person_footer">
                    <div class="review-person_data">2 грудня 2022</div>
                    <button class="btn btn-secondary btn-open">читати повністю</button>
                </div>
            </div>
            <div class="review_cards-block">
                <div class="review-person_name">
                    Дмитро Науменко
                </div>
                <div class="review-person_text">
                    У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я. Потім ще дивився в інших обмінниках курси того дня – тут все ж таки був вигідніше. Так що ні про що не шкодую, і якщо буде потрібно, звертатимуся знову. 
                    У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я. Потім ще дивився в інших обмінниках курси того дня – тут все ж таки був вигідніше. Так що ні про що не шкодую, і якщо буде потрібно, звертатимуся знову. 
                </div>
                <div class="review-person_footer">
                    <div class="review-person_data">2 грудня 2022</div>
                    <button class="btn btn-secondary btn-open">читати повністю</button>
                </div>
            </div>
            <div class="review_cards-block">
                <div class="review-person_name">
                    Світлана Коваленко
                </div>
                <div class="review-person_text">
                    У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я. Потім ще дивився в інших обмінниках курси того дня – тут все ж таки був вигідніше. Так що ні про що не шкодую, і якщо буде потрібно, звертатимуся знову. 
                </div>
                <div class="review-person_footer">
                    <div class="review-person_data">2 грудня 2022</div>
                    <button class="btn btn-secondary btn-open">читати повністю</button>
                </div>
            </div>
            <div class="review_cards-block">
                <div class="review-person_name">
                    Олена Несміян
                </div>
                <div class="review-person_text">
                    У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я. Потім ще дивився в інших обмінниках курси того дня – тут все ж таки був вигідніше. Так що ні про що не шкодую, і якщо буде потрібно, звертатимуся знову. 
                </div>
                <div class="review-person_footer">
                    <div class="review-person_data">2 грудня 2022</div>
                    <button class="btn btn-secondary btn-open">читати повністю</button>
                </div>
            </div>
            <div class="review_cards-block">
                <div class="review-person_name">
                    Владислав Смаль
                </div>
                <div class="review-person_text">
                    У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я. Потім ще дивився в інших обмінниках курси того дня – тут все ж таки був вигідніше. Так що ні про що не шкодую, і якщо буде потрібно, звертатимуся знову. 
                </div>
                <div class="review-person_footer">
                    <div class="review-person_data">2 грудня 2022</div>
                    <button class="btn btn-secondary btn-open">читати повністю</button>
                </div>
            </div>
            <div class="review_cards-block">
                <div class="review-person_name">
                    Антон Константинов
                </div>
                <div class="review-person_text">
                    У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я. Потім ще дивився в інших обмінниках курси того дня – тут все ж таки був вигідніше. Так що ні про що не шкодую, і якщо буде потрібно, звертатимуся знову. 
                </div>
                <div class="review-person_footer">
                    <div class="review-person_data">2 грудня 2022</div>
                    <button class="btn btn-secondary btn-open">читати повністю</button>
                </div>
            </div>
            <div class="review_cards-block">
                <div class="review-person_name">
                    Олена Несміян
                </div>
                <div class="review-person_text">
                    У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я. Потім ще дивився в інших обмінниках курси того дня – тут все ж таки був вигідніше. Так що ні про що не шкодую, і якщо буде потрібно, звертатимуся знову. 
                </div>
                <div class="review-person_footer">
                    <div class="review-person_data">2 грудня 2022</div>
                    <button class="btn btn-secondary btn-open">читати повністю</button>
                </div>
            </div>
            <div class="review_cards-block">
                <div class="review-person_name">
                    Владислав Смаль
                </div>
                <div class="review-person_text">
                    У мене був досвід використання обмінника Onebit лише один раз. Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я. Потім ще дивився в інших обмінниках курси того дня – тут все ж таки був вигідніше. Так що ні про що не шкодую, і якщо буде потрібно, звертатимуся знову. 
                </div>
                <div class="review-person_footer">
                    <div class="review-person_data">2 грудня 2022</div>
                    <button class="btn  btn-secondary btn-open">читати повністю</button>
                </div>
            </div>
        </div>
        <button class="btn btn-secondary review-btn">завантажити більше</button>

    </div>
</section>